In [50]:
import pandas as pd
import os

In [51]:
with open('dataset/dataset/train.txt') as f:
    train_txt = f.read()
with open('dataset/dataset/test.txt') as f:
    test_txt = f.read()

In [52]:
train_paths = ['dataset/dataset/images/'+x.split('/')[-2]+'/'+x.split('/')[-1] for x in train_txt.split('\n')[:-1]]

In [53]:
train_labels = ['dataset/dataset/images/'+x.split('/')[-2]+'/'+(
               '.'.join(x.split('/')[-1].split('.')[:-1]) if len(x.split('/')[-1].split('.')[:-1])>1 else x.split('/')[-1].split('.')[0])
               +'.txt' for x in train_txt.split('\n')[:-1]]

In [54]:
test_paths = ['dataset/dataset/images/'+x.split('/')[-2]+'/'+x.split('/')[-1] for x in test_txt.split('\n')[:-1]]
test_labels = ['dataset/dataset/images/'+x.split('/')[-2]+'/'+(
               '.'.join(x.split('/')[-1].split('.')[:-1]) if len(x.split('/')[-1].split('.')[:-1])>1 else x.split('/')[-1].split('.')[0])
               +'.txt' for x in test_txt.split('\n')[:-1]]

In [55]:
train = pd.DataFrame({
    'img': train_paths,
    'label': train_labels
})

In [56]:
test = pd.DataFrame({
    'img': test_paths,
    'label': test_labels
})

In [82]:
from PIL import Image
import numpy as np
from tqdm import tqdm

In [83]:
bad_ones = []
for i in tqdm(range(len(train)-1)):
    try:
        img = np.array(Image.open(train.iloc[i, 0]))
        if img.shape[2]!=3:
            bad_ones.append(i)
    except:
        bad_ones.append(i)
train = train[~train.index.isin(bad_ones)].reset_index(drop=True)

100%|██████████| 699/699 [00:08<00:00, 84.73it/s]

In [84]:
bad_ones = []
for i in tqdm(range(len(test)-1)):
    try:
        img = np.array(Image.open(test.iloc[i, 0]))
        if img.shape[2]!=3:
            bad_ones.append(i)
    except:
        bad_ones.append(i)
test = test[~test.index.isin(bad_ones)].reset_index(drop=True)

100%|██████████| 119/119 [00:02<00:00, 39.87it/s]

In [86]:
test

,img,label
0,dataset/dataset/images/test/TB2R28UvUOWBKNjSZK...,dataset/dataset/images/test/TB2R28UvUOWBKNjSZK...
1,dataset/dataset/images/test/US-expands-coronav...,dataset/dataset/images/test/US-expands-coronav...
2,dataset/dataset/images/test/Pakistan-China-cor...,dataset/dataset/images/test/Pakistan-China-cor...
3,dataset/dataset/images/test/RZXE24HFK5GSVKVSN5...,dataset/dataset/images/test/RZXE24HFK5GSVKVSN5...
4,dataset/dataset/images/test/TASS38012699.jpg,dataset/dataset/images/test/TASS38012699.txt
...,...,...
114,dataset/dataset/images/test/sgssgg.jpeg,dataset/dataset/images/test/sgssgg.txt
115,dataset/dataset/images/test/upload-productImg-...,dataset/dataset/images/test/upload-productImg-...
116,dataset/dataset/images/test/TELEMMGLPICT000222...,dataset/dataset/images/test/TELEMMGLPICT000222...
117,dataset/dataset/images/test/stsciRq.png,dataset/dataset/images/test/stsciRq.txt
118,dataset/dataset/images/test/usa-people-waiting...,dataset/dataset/images/test/usa-people-waiting...

In [87]:
bad_ones

[117]

In [70]:
len(train)

700

In [88]:
train.to_csv('train.csv', index=False)
test.to_csv('test.csv', index=False)

In [58]:
train

,img,label
0,dataset/dataset/images/train/article-5e3a3b262...,dataset/dataset/images/train/article-5e3a3b262...
1,dataset/dataset/images/train/coronavirus_wuhan...,dataset/dataset/images/train/coronavirus_wuhan...
2,dataset/dataset/images/train/coronavirus (2).jpg,dataset/dataset/images/train/coronavirus (2).txt
3,dataset/dataset/images/train/b_20200210192750.jpg,dataset/dataset/images/train/b_20200210192750.txt
4,dataset/dataset/images/train/ckeditor-5e450706...,dataset/dataset/images/train/ckeditor-5e450706...
...,...,...
695,dataset/dataset/images/train/1-200102094256105...,dataset/dataset/images/train/1-200102094256105...
696,dataset/dataset/images/train/22-pollution-2706...,dataset/dataset/images/train/22-pollution-2706...
697,dataset/dataset/images/train/81717218_41249664...,dataset/dataset/images/train/81717218_41249664...
698,dataset/dataset/images/train/4646.png,dataset/dataset/images/train/4646.txt
699,dataset/dataset/images/train/captura-de-pantal...,dataset/dataset/images/train/captura-de-pantal...